{{#each model as |hero|}}
  <p>
    {{hero.id}}
    {{hero.Name}}
    {{hero.Patch}}
    {{hero.Name}}
    {{hero.Alignment}}
    {{hero.Movespeed}}
    {{hero.MaxDmg}}
    {{hero.MinDmg}}
    {{hero.HP}}
    {{hero.Mana}}
    {{hero.HPRegen}}
    {{hero.ManaRegen}}
    {{hero.Armor}}
    {{hero.Range}}
    {{hero.ProjectileSpeed}}
    {{hero.BaseStr}}
    {{hero.BaseAgi}}
    {{hero.BaseInt}}
    {{hero.StrGain}}
    {{hero.AgiGain}}
    {{hero.IntGain}}
    {{hero.PrimaryStat}}
    {{hero.BaseAttackTime}}
    {{hero.DayVision}}
    {{hero.NightVision}}
    {{hero.AttackPoint}}
    {{hero.AttackSwing}}
    {{hero.CastPoint}}
    {{hero.CastSwing}}
    {{hero.Turnrate}}
    {{hero.Legs}}
  </p>
{{/each}}
