<table>
  <thead>
    <tr>
      <th>id</th>
      <th>Name</th>
      <th>Patch</th>
      <th>Name</th>
      <th>Alignment</th>
      <th>Movespeed</th>
      <th>MaxDmg</th>
      <th>MinDmg</th>
      <th>HP</th>
      <th>Mana</th>
      <th>HPRegen</th>
      <th>ManaRegen</th>
      <th>Armor</th>
      <th>Range</th>
      <th>ProjectileSpeed</th>
      <th>BaseStr</th>
      <th>BaseAgi</th>
      <th>BaseInt</th>
      <th>StrGain</th>
      <th>AgiGain</th>
      <th>IntGain</th>
      <th>PrimaryStat</th>
      <th>BaseAttackTime</th>
      <th>DayVision</th>
      <th>NightVision</th>
      <th>AttackPoint</th>
      <th>AttackSwing</th>
      <th>CastPoint</th>
      <th>CastSwing</th>
      <th>Turnrate</th>
      <th>Legs</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |hero|}}
      <tr>
        <td>{{hero.id}}</td>
        <td>{{hero.Name}}</td>
        <td>{{hero.Patch}}</td>
        <td>{{hero.Name}}</td>
        <td>{{hero.Alignment}}</td>
        <td>{{hero.Movespeed}}</td>
        <td>{{hero.MaxDmg}}</td>
        <td>{{hero.MinDmg}}</td>
        <td>{{hero.HP}}</td>
        <td>{{hero.Mana}}</td>
        <td>{{hero.HPRegen}}</td>
        <td>{{hero.ManaRegen}}</td>
        <td>{{hero.Armor}}</td>
        <td>{{hero.Range}}</td>
        <td>{{hero.ProjectileSpeed}}</td>
        <td>{{hero.BaseStr}}</td>
        <td>{{hero.BaseAgi}}</td>
        <td>{{hero.BaseInt}}</td>
        <td>{{hero.StrGain}}</td>
        <td>{{hero.AgiGain}}</td>
        <td>{{hero.IntGain}}</td>
        <td>{{hero.PrimaryStat}}</td>
        <td>{{hero.BaseAttackTime}}</td>
        <td>{{hero.DayVision}}</td>
        <td>{{hero.NightVision}}</td>
        <td>{{hero.AttackPoint}}</td>
        <td>{{hero.AttackSwing}}</td>
        <td>{{hero.CastPoint}}</td>
        <td>{{hero.CastSwing}}</td>
        <td>{{hero.Turnrate}}</td>
        <td>{{hero.Legs}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
